.gantt-box
{
	position: relative;
	border: 3px solid #73AD21;
	height: 5px;
	padding: 50px;
	text-align: center;
}
.gantt-box-left
{
	position: absolute;
	left: 0;
	margin-left: 3px;
	bottom: 0;
}
.gantt-box-right
{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 3px;
}
#time_quanta
{
    width: auto;
}
#start_btn
{
	background-color: hsl(125, 62%, 50%);
	transition: opacity 0.15s ease-in-out, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: aliceblue;
}
#start_btn:hover
{
	opacity: 0.8;
}
#drop_btn
{
	background-color: hsl(125, 62%, 50%);
	transition: opacity 0.15s ease-in-out, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: aliceblue;
}
#drop_btn:hover
{
	opacity: 0.8;
}
#vis_btn
{
	background-color: hsl(273, 100%, 66%);
	transition: opacity 0.15s ease-in-out, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: aliceblue;
}
#vis_btn:hover
{
	opacity: 0.8;
}