<!DOCTYPE html>
<html>
<head>
	<title>CPU Algorithms Visualiser</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="process" ng-app="my-app" ng-controller="my-ctrl">
		<h2 class="dropdown">
			Processes
		</h2>
		<br>
		<!-- <div class="small-headings">	
			<span>Process ID</span>
			<span>Burst Time</span>
			<span>Priority</span>
			<span>Arrival Time</span>
		</div>
		
		<div class="small-headings" ng-repeat="p in processes">
			<span>{{p.processId}}</span>
			<span>{{p.burstTime}}</span>
			<span>{{p.priority}}</span>
			<span>{{p.arrivalTime}}</span>
		</div> -->
		<table class="small-headings">
			<thead>
				<td>Process ID</td>
				<td>Burst Time</td>
				<td>Priority</td>
				<td>Arrival Time</td>
			</thead>
			<tbody ng-repeat="p in processes">
				<tr >
					<td>{{p.processId}}</td>
					<td>{{p.burstTime}}</td>
					<td>{{p.priority}}</td>
					<td>{{p.arrivalTime}}</td>
				</tr>
			</tbody>
		</table>
	
		<button ng-click="addProcess()">Add a process</button>
		<button ng-click="removeProcess()">Remove a process</button>
		<button ng-click="start()">Start</button>
	
	</div>
	
	<!-- <div class="dropdown" ng-app="my-app" ng-controller="my-ctrl">
  <button onClick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">First Come First Serve</a>
    <a href="#">Round Robin</a>
    <a href="#">Shortest Job First</a>
    <a href="#">Priority Scheduling</a>
	  </div>
	</div>
 -->
	<script>
	var app=angular.module('my-app',[]);
	app.controller('my-ctrl', function($scope)
	{
		$scope.processes=[
		{processId:1,burstTime:4,priority:1,arrivalTime:1}, 
		{processId:2,burstTime:5,priority:1,arrivalTime:3},
		{processId:3,burstTime:2,priority:1,arrivalTime:2},
		{processId:4,burstTime:3,priority:1,arrivalTime:4}];

		$scope.addProcess=function()
		{
			$scope.processes.push({processId:1,burstTime:4,priority:1,arrivalTime:1});
		};
		$scope.removeProcess=function()
		{
			$scope.items=$scope.items.filter(function(i)
			{
				return !i.done;
			});
		};
	});
	</script>
	<!-- <script type="text/javascript">
	function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script> -->
</body>
</html>